.header-main {
	position: absolute;
	top: 45%;
	height: 172px;
	width: 462px;
	.header-main-text {
		height: 100%;
		width: 100%;
		background-color: rgba(white, 0.8);
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2, p {
			width: 85%;
			margin: 0 auto;
		}
		h2 {
		font-family: OpenSans-Semibold;
		font-size: 1.375rem;
		line-height: 32px;
		color: $p_lightblack;
		margin-bottom: 10px;
		text-align: left;
		}
		p {
		font-family: OpenSans-Light;
		font-size: 0.93rem;
		line-height: 25px;
		}
	}
	.pink-button {
		height: 35px;
		width: 117px;
		font-size: 0.75rem;
	}	
}
@import "_media-header-main";