@charset "UTF-8";
div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, h4, span {
  cursor: default; }

html {
  line-height: 1.4;
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: 300; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Semibold.ttf);
  font-weight: 600; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: Open Sans;
  src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
  font-weight: 900; }

.container {
  width: 990px;
  margin: 0 auto; }

.pink-button {
  position: absolute;
  background-color: #f17398;
  border: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.75rem; }
  .pink-button:after {
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 3px solid #db577e;
    bottom: 0;
    left: 0; }
  .pink-button:hover {
    background-color: #db577e; }

.upper-text {
  text-transform: uppercase; }

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 1.875rem; }

.fixed-menu {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 5;
  position: fixed;
  left: 0;
  top: 30%;
  width: 50px;
  height: 300px; }
  .fixed-menu a:first-of-type {
    background-image: url("../img/fixed-menu/header.png"); }
  .fixed-menu a:nth-of-type(2) {
    background-image: url("../img/fixed-menu/search.png"); }
  .fixed-menu a:nth-of-type(3) {
    background-image: url("../img/fixed-menu/image.png"); }
  .fixed-menu a:nth-of-type(4) {
    background-image: url("../img/fixed-menu/about.png"); }
  .fixed-menu a:nth-of-type(5) {
    background-image: url("../img/fixed-menu/testimonials.png"); }
  .fixed-menu a:nth-of-type(6) {
    background-image: url("../img/fixed-menu/sponsors.png"); }
  .fixed-menu a:nth-of-type(7) {
    background-image: url("../img/fixed-menu/team.png"); }
  .fixed-menu a:last-of-type {
    background-image: url("../img/fixed-menu/image.png"); }
  .fixed-menu a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    display: block;
    height: 12.5%;
    width: 100%;
    background-color: #232020; }
    .fixed-menu a:hover {
      background-color: #db577e; }
  .fixed-menu .active-fixed {
    background-color: #db577e; }

@media screen and (max-width: 849px) {
  .fixed-menu {
    display: none; } }

.header {
  border: 1px solid black;
  position: relative;
  height: 100vh;
  background: black url("../img/header/bg_image.png") no-repeat;
  background-size: cover; }
  .header .container {
    position: relative;
    height: 100%; }
  .header .header-top {
    margin: auto;
    height: 182px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header .header-top .header-contacts {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      height: 70%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .header-top .header-contacts .header-contacts-item {
        padding-top: 3%;
        padding-right: 20px;
        position: relative; }
        .header .header-top .header-contacts .header-contacts-item a {
          text-decoration: none; }
        .header .header-top .header-contacts .header-contacts-item h4 {
          font-weight: 300;
          position: relative;
          padding-left: 15px;
          color: #666666;
          font-size: 0.875rem; }
        .header .header-top .header-contacts .header-contacts-item .contact_office:before, .header .header-top .header-contacts .header-contacts-item .contact_phone:before, .header .header-top .header-contacts .header-contacts-item .contact_email:before {
          content: "";
          position: absolute;
          top: 4px;
          left: 0;
          background: url("../img/header/header-contacts-item/icon1.png") 0 0 no-repeat;
          background-size: 80%;
          width: 10px;
          height: 10px; }
        .header .header-top .header-contacts .header-contacts-item .contact_phone:before, .header .header-top .header-contacts .header-contacts-item .contact_email:before {
          background: url("../img/header/header-contacts-item/icon2.png") 0 0 no-repeat;
          bottom: 2px;
          top: initial; }
        .header .header-top .header-contacts .header-contacts-item .contact_email:before {
          background: url("../img/header/header-contacts-item/icon3.png") 0 0 no-repeat; }
        .header .header-top .header-contacts .header-contacts-item p, .header .header-top .header-contacts .header-contacts-item a {
          font-weight: 400;
          color: #333333;
          font-size: 0.81rem; }
    .header .header-top .header-navigation {
      background-color: #232020;
      height: 55px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .header .header-top .header-navigation .nav-menu {
        width: 85%; }
        .header .header-top .header-navigation .nav-menu ul {
          list-style: none;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around; }
          .header .header-top .header-navigation .nav-menu ul li {
            height: 100%; }
            .header .header-top .header-navigation .nav-menu ul li a {
              height: 100%;
              position: relative;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
              justify-content: space-around;
              text-decoration: none;
              font-weight: 600;
              color: #ffffff;
              font-size: 0.81rem; }
              .header .header-top .header-navigation .nav-menu ul li a:hover {
                color: #f17398; }
      .header .header-top .header-navigation .nav-social {
        width: 100px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .header .header-top .header-navigation .nav-social ul {
          margin-right: 20px;
          list-style: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around; }
          .header .header-top .header-navigation .nav-social ul .social-fb {
            background: url("../img/header/header-navigation/header-navitagion-social/Facebook.png") 50% 50% no-repeat;
            padding: 17px 17px;
            background-size: 80%; }
          .header .header-top .header-navigation .nav-social ul .social-in {
            background: url("../img/header/header-navigation/header-navitagion-social/linkedin.png") 50% 50% no-repeat;
            padding: 17px 17px;
            background-size: 100%; }
          .header .header-top .header-navigation .nav-social ul .social-be {
            background: url("../img/header/header-navigation/header-navitagion-social/behance.png") 50% 55% no-repeat;
            padding: 17px 17px;
            background-size: 90%; }
    .header .header-top .active-link {
      position: relative; }
      .header .header-top .active-link:before, .header .header-top .header-navigation .nav-menu ul li a:hover:before {
        content: "";
        position: absolute;
        left: -10%;
        bottom: 0;
        width: 120%;
        height: 3px;
        background-color: #f17398; }
  @media screen and (max-width: 1023px) {
    .header .header-top {
      display: none; } }
  .header .header-main {
    position: absolute;
    top: 45%;
    height: 172px;
    width: 462px; }
    .header .header-main .header-main-text {
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header .header-main .header-main-text h2, .header .header-main .header-main-text p {
        width: 85%;
        margin: 0 auto; }
      .header .header-main .header-main-text h2 {
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 32px;
        color: #333333;
        margin-bottom: 10px;
        text-align: left; }
      .header .header-main .header-main-text p {
        font-size: 0.93rem;
        line-height: 25px; }
    .header .header-main .pink-button {
      height: 35px;
      width: 117px;
      font-size: 0.75rem; }
  @media screen and (max-width: 479px) {
    .header .header-main {
      width: 100%;
      height: 250px;
      top: 20%; }
      .header .header-main .header-main-text h2, .header .header-main .header-main-text p {
        text-align: center; } }
  .header .header-search {
    position: absolute;
    width: 315px;
    height: 55px;
    left: 0;
    bottom: 0;
    background-color: #232020; }
    .header .header-search a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding-left: 10%;
      color: #ffffff;
      text-decoration: none;
      height: 100%;
      font-weight: 600;
      width: 90%; }
      .header .header-search a:before {
        left: 0;
        background: url("../img/header/header-search/search-white2.png") center no-repeat;
        position: absolute;
        content: "";
        width: 55px;
        height: 100%;
        background-size: 40%;
        background-color: black; }
  @media screen and (max-width: 1023px) {
    .header .header-search {
      display: none; } }
  .header .header-top-mobile {
    display: none;
    font-family: OpenSans, sans-serif; }
  @media screen and (max-width: 1023px) {
    .header .header-top-mobile {
      height: 15%;
      background-color: #333333;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .header .menu {
    width: 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; }
    .header .menu .menu-container {
      position: relative;
      top: -9px;
      left: -6px;
      display: inline-block;
      width: 42px;
      height: 3px;
      margin: 4px 0;
      background-color: white;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
      .header .menu .menu-container:before {
        left: 7px;
        top: 0px;
        position: relative;
        content: "";
        display: inline-block;
        width: 34px;
        height: 3px;
        margin: 4px 0;
        background-color: white;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
      .header .menu .menu-container:after {
        top: -13px;
        left: 10px;
        position: relative;
        content: "";
        display: inline-block;
        width: 31px;
        height: 3px;
        margin: 4px 0;
        background-color: white;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
  .header .change .menu-container {
    -webkit-transform: rotate(-45deg) translate(-10px, 0px);
    -ms-transform: rotate(-45deg) translate(-10px, 0px);
    transform: rotate(-45deg) translate(-10px, 0px);
    opacity: 1;
    max-width: 20px; }
  .header .change .menu-container:after {
    -webkit-transform: rotate(90deg) translate(-18px, 10px);
    -ms-transform: rotate(90deg) translate(-18px, 10px);
    transform: rotate(90deg) translate(-18px, 10px);
    opacity: 1;
    max-width: 20px; }
  .header .change .menu-container:before {
    max-width: 5px;
    opacity: 0; }
  .header .mobile-menu {
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 15%;
    left: 0;
    background-color: #333333;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .header .mobile-menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
      .header .mobile-menu ul a {
        font-weight: 400;
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        width: 100%;
        height: 45px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        border-bottom: 1px solid white; }
        .header .mobile-menu ul a:hover, .header .mobile-menu ul a:active {
          font-weight: 600;
          border-bottom: 1px solid #f17398; }
    .header .mobile-menu .active-link {
      border-bottom: 1px solid #f17398;
      color: #f17398; }
  .header .search-menu {
    display: inline-block;
    height: 100%;
    width: 20%;
    background: url("../img/header-top-mobile/search-white2.png") center no-repeat;
    background-size: 20px 20px; }
  .header .active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

@media screen and (max-width: 1023px) {
  .header {
    height: 80vh;
    background-position: 50% 50%; }
    .header .container {
      width: 100%; } }

.search {
  height: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: OpenSans, sans-serif; }
  .search form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .search form label {
      display: block; }
    .search form label, .search form p {
      font-weight: 600;
      font-size: 0.81rem; }
    .search form .form-item {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 110px; }
      .search form .form-item .search-item {
        margin-left: 20px; }
        .search form .form-item .search-item select {
          background: transparent url("../img/search/select-arrow.png") right 0 no-repeat;
          margin-top: 10px;
          border-radius: 0;
          width: 223px;
          height: 28px;
          color: #b3b3b3;
          border-color: #b3b3b3;
          padding-left: 13px;
          font-weight: 400;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; }
        .search form .form-item .search-item input[type="radio"] {
          display: none; }
          .search form .form-item .search-item input[type="radio"]:checked + label {
            margin-top: 10px;
            background-color: #2f343a;
            color: white; }
        .search form .form-item .search-item .adult-content-item {
          display: -webkit-inline-box;
          display: -webkit-inline-flex;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          width: 88px;
          height: 28px;
          border: 1px solid #b3b3b3; }
          .search form .form-item .search-item .adult-content-item:last-of-type {
            margin-left: -5px;
            /* Поправить, минусовые маргины - зло */ }
        .search form .form-item .search-item button {
          margin-top: 28px;
          font-size: 0.75rem;
          position: relative;
          width: 270px;
          height: 34px; }

@media screen and (max-width: 849px) {
  .search {
    padding-top: 50px;
    height: auto; } }
  @media screen and (max-width: 849px) and (max-width: 849px) {
    .search form .form-item {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .search form .form-item {
        margin-bottom: 200px;
        margin-top: 10px; } }
  @media screen and (max-width: 849px) and (min-width: 560px) and (max-width: 770px) {
    .search form .form-item {
      margin-bottom: 30px; } }

@media screen and (max-width: 849px) {
    .search form .form-item .search-item {
      margin-bottom: 20px;
      margin-left: 0; }
      .search form .form-item .search-item label {
        font-size: 1rem; }
      .search form .form-item .search-item select {
        width: 300px;
        height: 28px;
        font-size: 1.1rem; } }

.features {
  height: auto;
  padding-bottom: 50px; }
  .features .features-header {
    padding-top: 10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .features .features-header h2 {
      padding-bottom: 5%; }
    .features .features-header p {
      font-size: 1.125rem;
      text-align: center; }
  .features .features-photobox {
    position: relative; }
    .features .features-photobox h2 {
      padding-top: 5%; }
    .features .features-photobox .photobox {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 5%;
      height: 372px; }
      .features .features-photobox .photobox .photobox-block:first-of-type {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: "";
        -webkit-align-items: "";
        -ms-flex-align: "";
        align-items: "";
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 285px;
        height: 100%; }
        .features .features-photobox .photobox .photobox-block:first-of-type .photobox-item {
          width: 100%;
          height: 49%;
          position: relative; }
        .features .features-photobox .photobox .photobox-block:first-of-type .photobox-item:first-of-type {
          background: #ffffff url("../img/features/photobox/photobox-block1/image1.png") 0 0 no-repeat; }
        .features .features-photobox .photobox .photobox-block:first-of-type .photobox-item:last-of-type {
          background: #ffffff url("../img/features/photobox/photobox-block1/image2.png") 0 0 no-repeat; }
      .features .features-photobox .photobox .photobox-block:nth-of-type(2) {
        width: 390px;
        height: 100%; }
        .features .features-photobox .photobox .photobox-block:nth-of-type(2) .photobox-item {
          height: 100%;
          width: 100%;
          background: #ffffff url("../img/features/photobox/photobox-block2/image1.png") left top no-repeat; }
      .features .features-photobox .photobox .photobox-block:nth-of-type(3) {
        width: 105px;
        height: 100%; }
        .features .features-photobox .photobox .photobox-block:nth-of-type(3) .photobox-item {
          height: 100%;
          width: 100%;
          background: #ffffff url("../img/features/photobox/photobox-block3/image1.png") 0 0 no-repeat; }
      .features .features-photobox .photobox .photobox-block:last-of-type {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 185px;
        height: 100%; }
        .features .features-photobox .photobox .photobox-block:last-of-type .photobox-item {
          width: 100%;
          height: 49%;
          position: relative; }
        .features .features-photobox .photobox .photobox-block:last-of-type .photobox-item:first-of-type {
          background: #ffffff url("../img/features/photobox/photobox-block4/image1.png") 0 0 no-repeat; }
        .features .features-photobox .photobox .photobox-block:last-of-type .photobox-item:last-of-type {
          background: #ffffff url("../img/features/photobox/photobox-block4/image2.png") 0 0 no-repeat; }
      .features .features-photobox .photobox .photobox-item {
        position: relative; }
        .features .features-photobox .photobox .photobox-item:hover .addition {
          opacity: 1; }
    .features .features-photobox button {
      right: 0;
      margin-top: 1%;
      height: 36px;
      width: 118px; }

.addition {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 58px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }
  .addition p {
    font-size: 0.85rem;
    padding-left: 10%; }
  .addition p:last-of-type {
    font-style: italic;
    font-weight: 300; }

@media screen and (min-height: 800px) {
  .features {
    height: 80vh; } }

@media screen and (max-width: 849px) {
  .features {
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto; }
    .features .features-header p {
      width: 80%;
      margin: 0 auto; }
    .features .container {
      width: 100%; }
    .features .features-photobox {
      margin-bottom: 70px; }
      .features .features-photobox h2 {
        padding: 50px 0; }
      .features .features-photobox .photobox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        height: 2035px;
        width: 100%; }
        .features .features-photobox .photobox .photobox-block {
          position: relative; }
        .features .features-photobox .photobox .photobox-block:first-of-type,
        .features .features-photobox .photobox .photobox-block:last-of-type {
          height: 800px;
          width: 100%; }
          .features .features-photobox .photobox .photobox-block:first-of-type .photobox-item:first-of-type, .features .features-photobox .photobox .photobox-block:first-of-type .photobox-item:last-of-type,
          .features .features-photobox .photobox .photobox-block:last-of-type .photobox-item:first-of-type,
          .features .features-photobox .photobox .photobox-block:last-of-type .photobox-item:last-of-type {
            width: 100%;
            background-size: cover;
            background-position: center; }
        .features .features-photobox .photobox .photobox-block:nth-of-type(2) {
          width: 100%;
          height: 400px; }
          .features .features-photobox .photobox .photobox-block:nth-of-type(2) .photobox-item {
            background-size: cover;
            background-position: center; }
        .features .features-photobox .photobox .photobox-block:nth-of-type(3) {
          display: none; }
  .addition {
    opacity: 1; } }

.about-photography {
  height: 100vh;
  width: 100%;
  padding-top: 70px; }
  .about-photography h2 {
    padding-bottom: 3%; }
  .about-photography .about-photography-main {
    position: relative;
    background: white url("../img/about-photography/background.png") 0 0 no-repeat;
    background-size: cover;
    height: 80%; }
    .about-photography .about-photography-main:after {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
    .about-photography .about-photography-main .container {
      position: relative;
      z-index: 3;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .about-photography .about-photography-main .container h3 {
        font-weight: 900;
        font-size: 3.125rem;
        color: #ffffff;
        margin-bottom: 5%; }
      .about-photography .about-photography-main .container p {
        width: 100%;
        color: #d5d4d4;
        font-size: 1.125rem;
        font-family: OpenSans-Light, sans-serif;
        line-height: 35px;
        text-align: center; }
      .about-photography .about-photography-main .container button {
        margin-top: 20px;
        height: 35px;
        width: 118px;
        position: relative;
        margin-bottom: 20px; }

@media screen and (max-width: 1023px) {
  .about-photography {
    padding: 30px 0;
    height: auto; }
    .about-photography h2 {
      padding-bottom: 30px; }
    .about-photography .about-photography-main .container {
      width: 100%;
      font-size: 0.8rem; }
      .about-photography .about-photography-main .container h3 {
        padding-top: 30px;
        font-size: 1.2rem;
        text-align: center; }
      .about-photography .about-photography-main .container p {
        width: 80%;
        padding: 20px 0;
        font-size: 1.3rem; } }

.testimonials-slider {
  padding-top: 100px;
  position: relative; }
  .testimonials-slider h3 {
    margin-bottom: 5%;
    font-size: 1.875rem;
    font-weight: 300;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0; }
  .testimonials-slider .slider-container {
    position: relative; }
  .testimonials-slider .slider {
    position: relative;
    height: 200px;
    overflow: hidden; }
    .testimonials-slider .slider .slider-small {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      left: -410px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      /* add bgimage */ }
      .testimonials-slider .slider .slider-small .sponsors-Ansible {
        background: transparent url("../img/testimonials/logos/Ansible.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-Booking {
        background: transparent url("../img/testimonials/logos/Booking.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-Cranford {
        background: transparent url("../img/testimonials/logos/Cranford.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-Dribbble {
        background: transparent url("../img/testimonials/logos/Dribbble.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-Gizmodo {
        background: transparent url("../img/testimonials/logos/Gizmodo.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-ibex {
        background: transparent url("../img/testimonials/logos/ibex.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-LinkedIn {
        background: transparent url("../img/testimonials/logos/LinkedIn.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-Mixpanel {
        background: transparent url("../img/testimonials/logos/Mixpanel.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-Pinterest {
        background: transparent url("../img/testimonials/logos/Pinterest.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-Textbit {
        background: transparent url("../img/testimonials/logos/Textbit.png") center no-repeat; }
      .testimonials-slider .slider .slider-small .sponsors-logo {
        background-size: 80%;
        width: 200px;
        height: 100%; }
  .testimonials-slider .move-slider {
    z-index: 3;
    position: absolute;
    width: 31px;
    height: 31px;
    cursor: pointer;
    top: 45%; }
    .testimonials-slider .move-slider[data-direction="left"] {
      left: -40px;
      background: #999999 url("../img/testimonials/prev.png") center no-repeat; }
    .testimonials-slider .move-slider[data-direction="right"] {
      right: -40px;
      background: #999999 url("../img/testimonials/next.png") center no-repeat; }
    .testimonials-slider .move-slider:hover {
      background-color: #666666; }

.testimonials {
  height: 75vh; }
  .testimonials .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .testimonials .testimonial-item h2 {
    padding-bottom: 5%;
    font-size: 1.875rem;
    text-align: center; }
  .testimonials .testimonial-item .testimonials-review {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 250px; }
    .testimonials .testimonial-item .testimonials-review .testimonials-review-item {
      position: relative;
      background-repeat: no-repeat;
      width: 45%; }
      .testimonials .testimonial-item .testimonials-review .testimonials-review-item span {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 20%;
        padding-bottom: 6%;
        line-height: 30px;
        font-size: 0.7rem;
        height: 100px;
        font-weight: 600;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        background-size: 15%; }
      .testimonials .testimonial-item .testimonials-review .testimonials-review-item p {
        font-size: 1.125rem;
        color: #999999;
        margin-left: 18%;
        margin-top: 5%; }
      .testimonials .testimonial-item .testimonials-review .testimonials-review-item:first-of-type {
        background-image: url("../img/testimonials/comma-pink.png"); }
        .testimonials .testimonial-item .testimonials-review .testimonials-review-item:first-of-type span {
          background: url("../img/testimonials/image1.png") right bottom no-repeat; }
      .testimonials .testimonial-item .testimonials-review .testimonials-review-item:last-of-type {
        background-image: url("../img/testimonials/comma-blue.png"); }
        .testimonials .testimonial-item .testimonials-review .testimonials-review-item:last-of-type span {
          background: url("../img/testimonials/image2.png") right bottom no-repeat; }

@media screen and (min-height: 800px) {
  .testimonials {
    height: 60vh; } }

@media screen and (max-width: 849px) {
  .testimonials {
    height: auto; }
    .testimonials .container {
      width: 75%; }
    .testimonials .testimonial-item h3 {
      margin: 50px 0; }
    .testimonials .testimonial-item .testimonials-review {
      height: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      flex-flow: column; }
      .testimonials .testimonial-item .testimonials-review .testimonials-review-item {
        width: 100%;
        height: 300px;
        margin-bottom: 10px; }
        .testimonials .testimonial-item .testimonials-review .testimonials-review-item span {
          padding-right: 40%;
          text-align: right;
          bottom: 20px; }
        .testimonials .testimonial-item .testimonials-review .testimonials-review-item p {
          text-indent: 20px;
          margin-left: 25%; }
        .testimonials .testimonial-item .testimonials-review .testimonials-review-item:first-of-type {
          border-bottom: 1px solid #999999; }
        .testimonials .testimonial-item .testimonials-review .testimonials-review-item:last-of-type {
          margin-top: 20px; } }

.team-section {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .team-section .container {
    height: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .team-section .container h2 {
      padding-top: 5%;
      padding-bottom: 5%; }
  .team-section .team-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .team-section .team-block .team-block-item {
      position: relative;
      padding-top: 200px;
      width: 32%; }
      .team-section .team-block .team-block-item h3 {
        padding-top: 10px;
        font-size: 1.875rem;
        text-align: left;
        line-height: 26px; }
      .team-section .team-block .team-block-item h4 {
        font-size: 1.125rem;
        font-style: italic;
        font-weight: 300;
        color: #666666;
        padding: 8px 0 10px 0; }
      .team-section .team-block .team-block-item p {
        color: #333333;
        font-size: 0.93rem;
        line-height: 25px; }
      .team-section .team-block .team-block-item:first-of-type {
        background: transparent url("../img/team-section/team-block-item/image1.png") left top no-repeat; }
      .team-section .team-block .team-block-item:nth-of-type(2) {
        background: transparent url("../img/team-section/team-block-item/image2.png") left top no-repeat; }
      .team-section .team-block .team-block-item:last-of-type {
        background: transparent url("../img/team-section/team-block-item/image3.png") left top no-repeat; }
      .team-section .team-block .team-block-item .team-block-social {
        position: absolute;
        bottom: -60px; }
        .team-section .team-block .team-block-item .team-block-social a {
          margin-right: 10px;
          display: inline-block;
          width: 40px;
          height: 40px;
          background-color: #ffffff;
          background-repeat: no-repeat;
          background-size: 100%; }
        .team-section .team-block .team-block-item .team-block-social a:first-of-type {
          background-image: url("../img/team-section/team-block-social/twitter.png"); }
        .team-section .team-block .team-block-item .team-block-social a:nth-of-type(2) {
          background-image: url("../img/team-section/team-block-social/facebook.png"); }
        .team-section .team-block .team-block-item .team-block-social a:nth-of-type(3) {
          background-image: url("../img/team-section/team-block-social/pinterest.png"); }
        .team-section .team-block .team-block-item .team-block-social a:last-of-type {
          background-image: url("../img/team-section/team-block-social/dribbble.png"); }

@media screen and (max-width: 849px) {
  .team-section {
    height: auto; }
    .team-section .team-block .team-block-item {
      width: 100%;
      margin-bottom: 70px; }
      .team-section .team-block .team-block-item h3, .team-section .team-block .team-block-item h4, .team-section .team-block .team-block-item p {
        text-align: center; }
      .team-section .team-block .team-block-item:first-of-type {
        background-position: top center; }
      .team-section .team-block .team-block-item:nth-of-type(2) {
        background-position: top center; }
      .team-section .team-block .team-block-item:last-of-type {
        background-position: top center; }
      .team-section .team-block .team-block-item .team-block-social {
        top: 0; }
        .team-section .team-block .team-block-item .team-block-social a {
          width: 30px;
          height: 30px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 5px; } }

@media screen and (min-height: 800px) {
  .team-section {
    height: 80vh; } }

.location-map {
  height: 50vh;
  width: 100%; }

@media screen and (max-width: 479px) {
  .location-map {
    display: none; } }

.feedback {
  height: 80vh;
  width: 100%; }
  .feedback h2 {
    padding-top: 3%;
    padding-bottom: 3%; }
  .feedback .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .feedback .container form {
      position: relative;
      width: 65%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .feedback .container form input {
        background-color: #fbfbfb;
        color: #999999;
        padding-left: 15px;
        margin-bottom: 15px;
        font-size: 1.125rem;
        width: 302px;
        height: 39px;
        border: none; }
      .feedback .container form textarea {
        padding-top: 10px;
        padding-left: 15px;
        font-size: 1.125rem;
        background-color: #fbfbfb;
        resize: none;
        width: 100%;
        height: 198px;
        border: none; }
      .feedback .container form button {
        width: 180px;
        height: 40px;
        font-size: 1.06rem;
        position: absolute;
        left: 0;
        bottom: -50px; }
    .feedback .container .feedback-contacts {
      width: 33%;
      margin-left: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap; }
      .feedback .container .feedback-contacts h3 {
        font-size: 1.56rem;
        padding-left: 40px;
        margin-bottom: 15px; }
      .feedback .container .feedback-contacts .our-address .address, .feedback .container .feedback-contacts .our-address .phone, .feedback .container .feedback-contacts .our-address .email {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .feedback .container .feedback-contacts .our-address .title {
        width: 30%;
        font-size: 1.125rem;
        color: black;
        font-weight: 400;
        line-height: 24px; }
      .feedback .container .feedback-contacts .our-address .text {
        width: 70%;
        font-size: 1.125rem;
        color: #999999;
        line-height: 25px; }
      .feedback .container .feedback-contacts .contacts-address h3 {
        background: transparent url("../img/feedback/feedback-contacts/IconAddress.png") left 5px no-repeat; }
      .feedback .container .feedback-contacts .contacts-about h3 {
        margin-top: 20px;
        background: transparent url("../img/feedback/feedback-contacts/IconAbout.png") left 5px no-repeat; }
      .feedback .container .feedback-contacts p {
        font-size: 1.125rem;
        color: #999999;
        line-height: 25px; }

@media screen and (max-width: 1023px) {
  .feedback {
    height: 100%; }
    .feedback h2 {
      padding-bottom: 25px; }
    .feedback .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      width: 100%; }
      .feedback .container form {
        padding-bottom: 50px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .feedback .container form textarea {
          width: 302px; } }
        @media screen and (max-width: 1023px) and (min-width: 560px) and (max-width: 1023px) {
          .feedback .container form textarea {
            width: 90%; } }

@media screen and (max-width: 1023px) {
        .feedback .container form button {
          bottom: -40px;
          margin-bottom: 20px;
          left: 8%; }
      .feedback .container .feedback-contacts {
        padding-top: 70px;
        padding-bottom: 50px;
        width: auto; }
        .feedback .container .feedback-contacts h3 {
          margin-left: 25%; }
        .feedback .container .feedback-contacts .contacts-about p {
          text-align: center; } }

@media screen and (min-height: 800px) {
  .feedback {
    height: 60vh; } }

.footer {
  height: 50vh;
  background-color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer .footer-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
    .footer .footer-main .footer-links {
      padding-bottom: 5px; }
      .footer .footer-main .footer-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: #ffffff;
        background-size: cover;
        margin-right: 10px; }
      .footer .footer-main .footer-links a:first-of-type {
        background-image: url("../img/team-section/team-block-social/twitter.png"); }
      .footer .footer-main .footer-links a:nth-of-type(2) {
        background-image: url("../img/team-section/team-block-social/facebook.png"); }
      .footer .footer-main .footer-links a:nth-of-type(3) {
        background-image: url("../img/team-section/team-block-social/pinterest.png"); }
      .footer .footer-main .footer-links a:last-of-type {
        background-image: url("../img/team-section/team-block-social/dribbble.png"); }
    .footer .footer-main p {
      font-size: 0.95rem;
      color: #999999; }

@media screen and (max-width: 849px) {
  .footer p {
    max-width: 50%;
    text-align: center; }
  .footer .footer-main .footer-links a {
    height: 30px;
    width: 30px; } }

@media screen and (min-height: 800px) {
  .footer {
    height: 30vh; } }
