.container {
	width: 990px;
	margin: 0 auto;
	}
.pink-button {
	position: absolute;
	background-color: $pink;
	border: none;
	color: $white;
	font-family: OpenSans-ExtraBold;
	cursor: pointer;
	&:after {
				position: absolute;
				content: "";
				width: 100%;
				border-bottom: 3px solid #db577e;
				bottom: 0;
				left: 0;
			}
}


.upper-text {
	text-transform: uppercase;
}
h2 {
	text-align: center;
	font-family: OpenSans-Light;
	font-weight: normal;
	font-size: 1.875rem;
}
