div, p, body, button, h1, h2, h3, h4, img, hr, li, ul, span, section, a, nav, form, option, select, label, input, button, header, footer {
	margin: 0;
	padding: 0;
}
p, h1, h2, h3, h4, span {
	cursor: default;
}
html {
	line-height: 1.4;
	font-size: 16px;
	font-family: OpenSans, sans-serif;
}




@import "UI/fonts";
@import "UI/color";
@import "mixins";
@import "main-style";

@import "fixed-menu/fixed-menu";
@import "header/header";
@import "search/search";
@import "features/features";
@import "about-photography/about-photography";
@import "testimonials/testimonials";
@import "team-section/team-section";
@import "location-map/location-map";
@import "feedback/feedback";
@import "footer/footer";

