.features { 	
	height: auto;
	padding-bottom: 50px;
	.features-header {
		padding-top: 10%;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		h2 { padding-bottom: 5%;}
		p {
			font-size: 1.125rem;
			font-family: OpenSans-Light, sans-serif;
			text-align: center;
		}
	}
	.features-photobox {
		position: relative;
		h2 {
			padding-top: 5%;
		}
		.photobox {
			display: flex;
			justify-content: space-between;
			padding-top: 5%;
			height: 372px;

			// FIRST
			.photobox-block:first-of-type {
				position: relative;
				@include flexbox("", space-between, column);
				width: 285px;
				height: 100%;
				.photobox-item {width: 100%; height: 49%; position: relative;}
				.photobox-item:first-of-type {	background: $white url("../img/features/photobox/photobox-block1/image1.png") 0 0 no-repeat;}
				.photobox-item:last-of-type { background: $white url("../img/features/photobox/photobox-block1/image2.png") 0 0 no-repeat;}
			}
			// -----

			// SECOND
			.photobox-block:nth-of-type(2) {
				width: 390px;
				height: 100%;
				.photobox-item {
					height: 100%;
					width: 100%;	
					background: $white url("../img/features/photobox/photobox-block2/image1.png") left top no-repeat;
				}
			}
			// ----

			// THIRD
			.photobox-block:nth-of-type(3) {
				width: 105px;
				height: 100%;
				.photobox-item {
					height: 100%;
					width: 100%;
					background: $white url("../img/features/photobox/photobox-block3/image1.png") 0 0 no-repeat;
				}
			}
			// -----

			// FOUR
			.photobox-block:last-of-type {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				width: 185px;
				height: 100%;
				.photobox-item {width: 100%; height: 49%; position: relative;}
				.photobox-item:first-of-type { background: $white url("../img/features/photobox/photobox-block4/image1.png") 0 0 no-repeat;}
				.photobox-item:last-of-type { background: $white url("../img/features/photobox/photobox-block4/image2.png") 0 0 no-repeat;}
			}
			// -----

			.photobox-item {
				position: relative;
				&:hover { .addition { opacity: 1;} }
			}
		}
		button {
			right: 0;
			margin-top: 1%;
			height: 36px;
			width: 118px;
		}
	}
}	
.addition {
	position: absolute;
	bottom:0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 58px;
	color: white;
	background-color: rgba(black, 0.5);
	opacity: 0;
	transition: 0.5s ease;
		p { 
			font-style: italic;
			font-size: 0.85rem;
			padding-left: 10%; }
		p:first-of-type {
			font-family: OpenSans-Light;
		}
}

@import "_media-features";