/*
Error: Invalid CSS after "	}": expected selector or at-rule, was "}"
        on line 37 of /Users/admin/Dropbox/PSD Makets/Innosphere/Innosphere project/scss/testimonials/slider.scss

32: 		}
33: 		// height: 200px;
34: 		// background-color: black;
35: 	}
36: 	
37: }

Backtrace:
/Users/admin/Dropbox/PSD Makets/Innosphere/Innosphere project/scss/testimonials/slider.scss:37
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1179:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:1115:in `expected'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/scss/parser.rb:40:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:403:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	}\": expected selector or at-rule, was \"}\"\A         on line 37 of /Users/admin/Dropbox/PSD Makets/Innosphere/Innosphere project/scss/testimonials/slider.scss\A \A 32: 		}\A 33: 		// height: 200px;\A 34: 		// background-color: black;\A 35: 	}\A 36: 	\A 37: }"; }
