section#features.features.section
  .container
    .features-header
      h2 Over 40 Million Stock Photos, Vectors, Videos, and Music Tracks
      p
        | Search for images anywhere using our award-winning iPad®, iPhone®, and Android®, apps. Funtional enough to use alone, beautiful enough to show off to clients.
    .features-photobox
      h2 Recently uploaded
      .photobox
        .photobox-block

          .photobox-item
            .addition
              p OLD MAN FROM INDIA
              p by Frank Tucker
          .photobox-item
            .addition
              p OLD MAN FROM INDIA
              p by Frank Tucker

        .photobox-block

          .photobox-item
            .addition
              p OLD MAN FROM INDIA
              p by Frank Tucker

        .photobox-block

          .photobox-item
            .addition
              p OLD MAN FROM INDIA
              p by Frank Tucker

        .photobox-block
          .photobox-item
            .addition
              p OLD MAN FROM INDIA
              p by Frank Tucker
          .photobox-item
            .addition
              p OLD MAN FROM INDIA
              p by Frank Tucker
      button.pink-button LOAD MORE

