<section class="features section" id="features">
  <div class="container">
    <div class="features-header">
      <h2>Over 40 Million Stock Photos, Vectors, Videos, and Music Tracks</h2>
      <p>Search for images anywhere using our award-winning iPad®, iPhone®, and Android®, apps. Funtional enough to use alone, beautiful enough to show off to clients.</p>
    </div>
    <div class="features-photobox">
      <h2>Recently uploaded</h2>
      <div class="photobox">

        <div class="photobox-block">
          <div class="photobox-item">
            <div class="addition">
              <p>OLD MAN FROM INDIA</p>
              <p>by Frank Tucker</p>
            </div>
          </div>
          <div class="photobox-item">
            <div class="addition">
              <p>OLD MAN FROM INDIA</p>
              <p>by Frank Tucker</p>
            </div>
          </div>

        </div>

        <div class="photobox-block">

          <div class="photobox-item">
            <div class="addition">
              <p>OLD MAN FROM INDIA</p>
              <p>by Frank Tucker</p>
            </div>

          </div>
        </div>

        <div class="photobox-block">

          <div class="photobox-item">
            <div class="addition">
              <p>OLD MAN FROM INDIA</p>
              <p>by Frank Tucker</p>
            </div>
          </div>

        </div>

        <div class="photobox-block">

          <div class="photobox-item">
            <div class="addition">
              <p>OLD MAN FROM INDIA</p>
              <p>by Frank Tucker</p>
            </div>
          </div>

          <div class="photobox-item">
            <div class="addition">
              <p>OLD MAN FROM INDIA</p>
              <p>by Frank Tucker</p>
            </div>
          </div>

        </div>

      </div>
      <button class="pink-button">LOAD MORE</button>
    </div>
  </div>
</section>