@include mq("tablet-wide", max) {
	.about-photography {
		padding: 30px 0;
		height: auto;
		h2 {
		padding-bottom: 30px;
		}
		.about-photography-main {
			.container {
				width: 100%;
				font-size: 0.8rem;
				h3 {	
					padding-top: 30px;
					font-size: 1.2rem;
					text-align: center;
				}
				p { 
					width: 80%;
					padding: 20px 0;
					font-size: 1.3rem; }
			}
		}
	}
}