.about-photography {
	height: 100vh;
	width: 100%;
	h2 {
		margin-bottom: 3%;
}
	.about-photography-main {
		position: relative;
		background: white url('../img/about-photography/background.png') 0 0 no-repeat;
		background-size: cover;
		height: 80%;
		&:after {
			z-index: 2;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			background-color: rgba(black, 0.5);
			width: 100%;
			height: 100%;
		}
		.container {
			position: relative;
			z-index: 3;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			h3 {
			font-family: OpenSans-ExtraBold;
			font-size: 3.125rem;
			color: $white;
			margin-bottom: 5%;
			}
			p {
				width: 80%;
				color: #d5d4d4;
				font-size: 1.125rem;
				font-family: OpenSans-Light;
				line-height: 35px;
				text-align: center;
			}
			button {
				margin-top: 20px;
				height: 35px;
				width: 118px;
				position: relative;
				margin-bottom: 20px;
			}
		}	
	}
}
@import "_media-about-photography";
