@font-face {
	font-family: OpenSans;
	src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Semibold;
	src: url(../fonts/Open_Sans/OpenSans-Semibold.ttf);
}
@font-face {
	font-family: OpenSans-Light;
	src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}

