section#team-section.team-section.section
  .container
    h2 Meet our team
    .team-block
      .team-block-item
        h3 Patricia Wright
        h4 Lead Developer
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, eius.
        .team-block-social
          a(href='#')
          a(href='#')
          a(href='#')
          a(href='#')
      .team-block-item
        h3 James C. Cotter
        h4 CEO
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat praesentium, dolor debitis quia eaque? Officia.
        .team-block-social
          a(href='#')
          a(href='#')
          a(href='#')
          a(href='#')
      .team-block-item
        h3 Sarah Cole
        h4 Web Designer
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti animi soluta, dignissimos cupiditate! Nam, aut.
        .team-block-social
          a(href='#')
          a(href='#')
          a(href='#')
          a(href='#')

