<section class="team-section section" id="team-section">
  <div class="container">
    <h2>Meet our team</h2>
    <div class="team-block">
      <div class="team-block-item">
        <h3>Patricia Wright</h3>
        <h4>Lead Developer</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, eius.</p>
        <div class="team-block-social">
          <a target="_blank" class="social-tw" href="http://twitter.com"></a>
          <a target="_blank" class="social-fb" href="http://facebook.com"></a>
          <a target="_blank" class="social-pin" href="http://pinterest.com"></a>
          <a target="_blank" class="social-db" href="http://dribbble.com"></a>
        </div>
      </div>
      <div class="team-block-item">
        <h3>James C. Cotter</h3>
        <h4>CEO</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat praesentium, dolor debitis quia eaque? Officia.</p>
        <div class="team-block-social">
          <a target="_blank" class="social-tw" href="http://twitter.com"></a>
          <a target="_blank" class="social-fb" href="http://facebook.com"></a>
          <a target="_blank" class="social-pin" href="http://pinterest.com"></a>
          <a target="_blank" class="social-db" href="http://dribbble.com"></a>
        </div>
      </div>
      <div class="team-block-item">
        <h3>Sarah Cole</h3>
        <h4>Web Designer</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti animi soluta, dignissimos cupiditate! Nam, aut.</p>
        <div class="team-block-social">
          <a target="_blank" class="social-tw" href="http://twitter.com"></a>
          <a target="_blank" class="social-fb" href="http://facebook.com"></a>
          <a target="_blank" class="social-pin" href="http://pinterest.com"></a>
          <a target="_blank" class="social-db" href="http://dribbble.com"></a>
        </div>
      </div>
    </div>
  </div>
</section>