section#search.search.section
  .container
    form(action='')
      .form-item
        .search-item
          label(for='categories') Categories
          select#categories
            option(value='categories-item1', selected='') Architecture
            option(value='categories-item2') Mobile
            option(value='categories-item3') Sport
        .search-item
          label(for='license') License type
          select#license
            option(value='license-item1') Creative
            option(value='license-item2') Another creative
        .search-item
          label(for='image-size') Image Size
          select#image-size
            option(value='image-size-item1') XXXL
            option(value='image-size-item2') XXL
        .search-item
          label(for='search-color') Color
          select#search-color
            option(value='search-color-1') HEX    #F6546A
            option(value='search-color-2') HEX    #335786
      .form-item
        .search-item
          label(for='browse') Browse
          select#browse
            option(value='browse-item1') Most Viewed
            option(value='browse-item2') Rating
        .search-item
          label(for='search-location') Location
          select#search-location
            option(value='location-item1') Worldwide
            option(value='location-item2') Local
        .search-item
          p Adult Content
          input#adult-content-left(type='radio', name='adult-content-item', checked='')
          label.adult-content-item(for='adult-content-left', onclick='') YES
          input#adult-content-right(type='radio', name='adult-content-item')
          label.adult-content-item(for='adult-content-right', onclick='') NO
        .search-item
          button.pink-button(type='submit') START YOUR SEARCH

