<section class="search section" id="search">
  <div class="container">
    <form action="">
      <div class="form-item">
        <div class="search-item">
          <label for="categories">Categories</label>
          <select id="categories">
            <option value="categories-item1" selected>Architecture</option>
            <option value="categories-item2">Mobile</option>
            <option value="categories-item3">Sport</option>
          </select>
        </div>

        <div class="search-item">
          <label for="license">License type</label>
          <select id="license">
            <option value="license-item1">Creative</option>
            <option value="license-item2">Another creative</option>
          </select>
        </div>

        <div class="search-item">
          <label for="image-size">Image Size</label>
          <select id="image-size">
            <option value="image-size-item1">XXXL</option>
            <option value="image-size-item2">XXL</option>
          </select>
        </div>

        <div class="search-item">
          <label for="search-color">Color</label>
          <select id="search-color">
            <option value="search-color-1">HEX    #F6546A</option>
            <option value="search-color-2">HEX    #335786</option>
          </select>
        </div>
      </div>
        
      <div class="form-item">
        <div class="search-item">
          <label for="browse">Browse</label>
          <select id="browse">
            <option value="browse-item1">Most Viewed</option>
            <option value="browse-item2">Rating</option>
          </select>
        </div>

        <div class="search-item">
          <label for="search-location">Location</label>
          <select id="search-location">
            <option value="location-item1">Worldwide</option>
            <option value="location-item2">Local</option>
          </select>
        </div>

        <div class="search-item">
          <p>Adult Content</p>

          <input type="radio" name="adult-content-item" id="adult-content-left" checked>
          <label for="adult-content-left" class="adult-content-item" onclick="">YES</label>
          
          <input type="radio" name="adult-content-item" id="adult-content-right">
          <label for="adult-content-right" class="adult-content-item" onclick="">NO</label>
        </div>

        <div class="search-item">
          <button type="submit" class="pink-button">START YOUR SEARCH</button>
        </div>
      </div>
    </form>
  </div>
</section>