<div class="header-top-mobile ">
    <a href="#search" class="search-menu"></a>
    <div class="menu link" data-link="link-menu">
      <div class="menu-container"></div>
      <div class="mobile-menu" id="dropMenu" data-link-dest="link-menu">
        <ul class="upper-text">
          <li><a href="#header" class="active-link">Homepage</a></li>
          <li><a href="#search">Search</a></li>
          <li><a href="#features">Recent images</a></li>
          <li><a href="#about-photography">About</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
          <li><a href="#team-section">Team</a></li>
          <li><a href="#feedback">Contact</a></li>
        </ul>
      </div>
    </div>
</div>