.header-top-mobile
    a.search-menu(href='#search')
    .menu.link(data-link='link-menu')
      .menu-container
      #dropMenu.mobile-menu(data-link-dest='link-menu')
        ul.upper-text
          li
            a.active-link(href='#header') Homepage
          li
            a(href='#search') Search
          li
            a(href='#features') Recent images
          li
            a(href='#about-photography') About
          li
            a(href='#testimonials') Testimonials
          li
            a(href='#sponsors') Sponsors
          li
            a(href='#team-section') Team
          li
            a(href='#feedback') Contact