section#feedback.feedback.section
  h2 Get in touch with us
  .container
    form(action='')
      input(type='text', placeholder='First Name')
      input(type='text', placeholder='Last Name')
      input(type='email', placeholder='E-mail')
      input(type='tel', placeholder='Phone Number')
      textarea#feedback-message(name='feedback-message', placeholder='Message')
      button.pink-button SEND MESSAGE
    .feedback-contacts
      .contacts-address
        h3 Our Address
        .our-address
          .address
            .title Address:
            .text 3497 Gateway Road Portland QR 97217
          .phone
            .title Phone:
            .text (229) 503-123-5434
          .email
            .title Email:
            .text www.mobilecom.com
      .contacts-about
        h3 About us
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, velit?

