@font-face {
	font-family: OpenSans-Light;
	src: url(../UI/fonts/Open_Sans/OpenSans-Light.ttf)
}

@font-face {
	font-family: OpenSans-Regular;
	src: url(../UI/fonts/Open_Sans/OpenSans-Regular.ttf)
}
@font-face {
	font-family: OpenSans-Semibold;
	src: url(../UI/fonts/Open_Sans/OpenSans-Semibold.ttf)
}
@font-face {
	font-family: OpenSans-Light;
	src: url(../UI/fonts/Open_Sans/OpenSans-Light.ttf)
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(../UI/fonts/Open_Sans/OpenSans-Bold.ttf)
}
@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(../UI/fonts/Open_Sans/OpenSans-ExtraBold.ttf)
}

@font-face {
	font-family: Myriad-Regular;
	src: url(../UI/fonts/MyriadPro/MyriadPro-Regular.otf)
}
@font-face {
	font-family: Myriad-Bold;
	src: url(../UI/fonts/MyriadPro/MyriadPro-Bold.otf)
}

