<section class="about-photography section" id="about-photography">
	<h2>About Stock Photography</h2>
	<div class="about-photography-main">
		<div class="container">
			<h3 class="upper-text">What is stock photography</h3>
			<p>Supply of photographs, which are ofter licensed for specific uses. It is used to fulfill the needs of creative assignments instead of hiring a photographer, often for a lower cost. Today, stock images can be presented in searchable online databases. They cana be purchasedand delivered online.</p>
			<button class="pink-button">KNOW MORE</button>
		</div>
	</div>
</section>