section#about-photography.about-photography.section
  h2 About Stock Photography
  .about-photography-main
    .container
      h3.upper-text What is stock photography
      p
        | Supply of photographs, which are ofter licensed for specific uses. It is used to fulfill the needs of creative assignments instead of hiring a photographer, often for a lower cost. Today, stock images can be presented in searchable online databases. They cana be purchasedand delivered online.
      button.pink-button KNOW MORE

