<nav class="fixed-menu">
	<a href="#header"></a>
	<a href="#search"></a>
	<a href="#features"></a>
	<a href="#about-photography"></a>
	<a href="#testimonials"></a>
	<a href="#team-section"></a>
	<a href="#feedback"></a>
</nav>