.footer {
	height: 50vh;
	background-color: $p_lightblack;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: center;
	.footer-main {
		display: flex;
		align-items: center;
		flex-flow: column wrap;
		.footer-links {
			padding-bottom: 5px;
			a {
				display: inline-block;
				height: 40px;
				width: 40px;
				background-color: $white;
				background-size: cover;
				margin-right: 10px;
			}
		}
		p {
			font-size: 0.95rem;
			color: #999999;
		}
	}
}
@import "_media-footer";

