.search {
	display: inline-block;
	height: 100%; 
	width: 33%;
	background: url("../img/header-top-mobile/search-white.svg") center no-repeat;
	border-right: 1px solid white;
	background-size: 20px 20px;
}