<div class="header-top">
      <div class="header-contacts">
        <div class="header-contacts-item">
          <h4 class="contact_office">Visit our office</h4>
          <p>2945 Rinehart Road, Sunrise</p>
        </div>
        <div class="header-contacts-item">
          <h4 class="contact_phone">Contact us via phone</h4>
          <a href="tel:+44 20 7946 0041 3685">+44 20 7496 0041 3685</a>
        </div>
        <div class="header-contacts-item">
          <h4 class="contact_email">Ask us questions</h4>
          <a href="mailto:info@innosphere.com">info@innosphere.com</a>
        </div>
      </div>
      <nav class="header-navigation">
        <div class="nav-menu">
          <ul  class="upper-text">
            <li><a href="#header"  class="active-link">Homepage</a></li>
            <li><a href="#search">Search</a></li>
            <li><a href="#features">Recent images</a></li>
            <li><a href="#about-photography">About</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#sponsors">Sponsors</a></li>
            <li><a href="#team-section">Team</a></li>
            <li><a href="#feedback">Contact</a></li>
          </ul>
        </div>
        <div class="nav-social">
          <ul>
            <li><a target="_blank" href="http://facebook.com" class="social-fb"></a></li>
            <li><a target="_blank" href="http://ru.linkedin.com" href="#" class="social-in"></a></li>
            <li><a target="_blank" href="http://behance.net" href="#" class="social-be"></a></li>
          </ul>
        </div>
      </nav>
</div>