header#header.header

  include header-top-mobile/header-top-mobile.jade

  .container

    include header-top.jade 
    
    .header-main
      .header-main-text
        h2 Your beautiful handcrafted stock photography marketplace.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nulla facere, fugit ab quod id pariatur
      button.pink-button KNOW MORE
    #search-button.header-search
      a(href='#search-button') SEARCH ALL GALLERIES

