.header-top
      .header-contacts
        .header-contacts-item
          h4.contact_office Visit our office
          p 2945 Rinehart Road, Sunrise
        .header-contacts-item
          h4.contact_phone Contact us via phone
          a(href='tel:+44 20 7946 0041 3685') +44 20 7496 0041 3685
        .header-contacts-item
          h4.contact_email Ask us questions
          a(href='mailto:info@innosphere.com') info@innosphere.com
      nav.header-navigation
        .nav-menu
          ul.upper-text
            li
              a.active-link(href='#header') Homepage
            li
              a(href='#search') Search
            li
              a(href='#features') Recent images
            li
              a(href='#about-photography') About
            li
              a(href='#testimonials') Testimonials
            li
              a(href='#sponsors') Sponsors
            li
              a(href='#team-section') Team
            li
              a(href='#feedback') Contact
        .nav-social
          ul
            li
              a.social-fb(target='_blank', href='http://facebook.com')
            li
              a.social-in(target='_blank', href='http://ru.linkedin.com')
            li
              a.social-be(target='_blank', href='http://behance.net')