footer#footer.footer
  .footer-main
    .footer-links
      a(target='_blank', href='http://twitter.com')
      a(target='_blank', href='http://facebook.com')
      a(target='_blank', href='http://pinterest.com')
      a(target='_blank', href='http://dribbble.com')
    p © 2015 Innosphere - All rights reserved - made by Vid Kraljić Radulović

