<footer class="footer" id="footer">
	<div class="footer-main">
		<div class="footer-links">
			<a target="_blank" class="social-tw" href="http://twitter.com"></a>
			<a target="_blank" class="social-fb" href="http://facebook.com"></a>
			<a target="_blank" class="social-pin" href="http://pinterest.com"></a>
			<a target="_blank" class="social-db" href="http://dribbble.com"></a>
		</div>
		<p>© 2015 Innosphere - All rights reserved - made by Vid Kraljić Radulović</p>
	</div>
</footer>