@import "slider";
.testimonials {
	height: 75vh;
	.container {
		display: flex;
		flex-flow: column wrap;
	}
	.testimonial-item {
		h2 {
		padding-bottom: 5%;
		font-size: 1.875rem;
		text-align: center;
	}
		.testimonials-review {
			display: flex;
			justify-content: space-between;
			height: 250px;
			.testimonials-review-item {
				position: relative;
				background-repeat: no-repeat;
				width: 45%;
				span {
					position: absolute;
					bottom: 0; 
					right: 0;
					padding-right: 20%;
					padding-bottom: 6%;
					line-height: 30px;
					font-size: 0.7rem;
					height: 100px;
					font-family: OpenSans-Semibold;
					display: flex;
					align-items: flex-end;
					background-size: 15%;
				}
				p {
					font-size: 1.125rem;
					font-weight: 400;
					color: #999999;
					margin-left: 18%;
					margin-top: 5%;
				}
				&:first-of-type {
					background-image: url("../img/testimonials/comma-pink.png");
					span {background: url("../img/testimonials/image1.png") right bottom no-repeat;
						}
				}
				&:last-of-type {
					background-image: url("../img/testimonials/comma-blue.png");
					span {background: url("../img/testimonials/image2.png") right bottom no-repeat;}
				}
			}
		}

	}
	
}
@import "_media-testimonials";
