<section class="testimonials section" id="testimonials">
  <div class="container">
    <div class="testimonial-item">
      <h2>Hear what our customers are saying</h2>
      <div class="testimonials-review">
        <div class="testimonials-review-item">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, facilis. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet."</p>
          <span>JENNIFER R. RHOADES, CEO, BUBBLESPHERE</span>
        </div>
        <div class="testimonials-review-item">
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, deserunt. Lorem ipsum dolor sit amet."</p>
          <span>MATTHEW J. SEARS, FOUNDER OF FEEDCLUB</span>
        </div>
      </div>
    </div>
    <div class="testimonials-slider">
      <h2 id="sponsors" class="section">Our sponsors</h2>
      <div class="slider-container">
        <div class="move-slider" data-direction="left"></div>
        <div class="move-slider" data-direction="right"></div>
        <div class="slider">
          <div class="slider-small">
            <div class="sponsors-logo sponsors-Ansible"></div>
            <div class="sponsors-logo sponsors-Booking"></div>
            <div class="sponsors-logo sponsors-Cranford"></div>
            <div class="sponsors-logo sponsors-Dribbble"></div>
            <div class="sponsors-logo sponsors-Gizmodo"></div>
            <div class="sponsors-logo sponsors-ibex"></div>
            <div class="sponsors-logo sponsors-LinkedIn"></div>
            <div class="sponsors-logo sponsors-Mixpanel"></div>
            <div class="sponsors-logo sponsors-Pinterest"></div>
            <div class="sponsors-logo sponsors-Textbit"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>