section#testimonials.testimonials.section
  .container
    .testimonial-item
      h2 Hear what our customers are saying
      .testimonials-review
        .testimonials-review-item
          p
            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, facilis. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet."
          span JENNIFER R. RHOADES, CEO, BUBBLESPHERE
        .testimonials-review-item
          p
            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, deserunt. Lorem ipsum dolor sit amet."
          span MATTHEW J. SEARS, FOUNDER OF FEEDCLUB
    .testimonials-slider
      h2#sponsors.section Our sponsors
      .slider-container
        .move-slider(data-direction='left')
        .move-slider(data-direction='right')
        .slider
          .slider-small
            .sponsors-logo.sponsors-Ansible
            .sponsors-logo.sponsors-Booking
            .sponsors-logo.sponsors-Cranford
            .sponsors-logo.sponsors-Dribbble
            .sponsors-logo.sponsors-Gizmodo
            .sponsors-logo.sponsors-ibex
            .sponsors-logo.sponsors-LinkedIn
            .sponsors-logo.sponsors-Mixpanel
            .sponsors-logo.sponsors-Pinterest
            .sponsors-logo.sponsors-Textbit

