.feedback {
	height: 80vh;
	width: 100%;
	h2 {
		// width: 100%;
		margin-top: 3%;
		margin-bottom: 3%;
		// font-size: 1.875rem;
		// font-family: OpenSans-Light;
		// text-align: center;
		// font-weight: normal;
	}
	.container {
		display: flex;
		flex-flow: row wrap;
		form {
			position: relative;
			width: 65%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			input {
				background-color: rgba(251, 251, 251, 1);
				color: $grey;
				padding-left: 15px; 
				margin-bottom: 15px;
				font-size: 1.125rem;
				font-family: OpenSans-Light;
				width: 302px;
				height: 39px;
				border: none;
			}
			textarea {
				padding-top: 10px;
				padding-left: 15px; 
				font-size: 1.125rem;
				font-family: OpenSans-Light;
				background-color: rgba(251, 251, 251, 1);
				resize: none;
				width: 100%;
				height: 198px;
				border: none;
			}
			button {
				width: 180px;
				height: 40px;
				font-size: 1.06rem;
				position: absolute;
				left: 0;
				bottom: -50px;
			}
		}
		.feedback-contacts {
			width: 33%;
			margin-left: 10px;
			display: flex;
			flex-flow: column wrap;
			h3 {
				font-size: 1.56rem;
				font-family: OpenSans-Light;
				padding-left: 40px;
				font-weight: normal;
				margin-bottom: 15px;	
			}
			.our-address {
					.address, .phone, .email {
						display: flex;
					}
					.title {
						width: 30%;
						font-size: 1.125rem;
						color: black;
						font-family: OpenSans-Bold;
						line-height: 24px;
						}
					.text {
						width: 70%;
						font-size: 1.125rem;
						font-family: OpenSans-Light;
						color: $grey;
						line-height: 25px;
					}
				}
			.contacts-address h3 { background:transparent url('../img/feedback/feedback-contacts/IconAddress.png') left 5px no-repeat;}
			.contacts-about h3 { margin-top: 20px; background:transparent url('../img/feedback/feedback-contacts/IconAbout.png') left 5px no-repeat;}
			
			p {
				font-size: 1.125rem;
				font-family: OpenSans-Light;
				color: $grey;
				line-height: 25px;
			}
		}
	}
}
@import "_media-feedback";



			
